<html>
    {% load static %}
    <head>
        <title>AskUp</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script data-turbolinks-track="true" src="{% static 'askup/assets/application.js' %}"></script>
        <link data-turbolinks-track="true" href="{% static 'askup/assets/application.css' %}" media="all" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta content="authenticity_token" name="csrf-param">
        <link href="{% static 'askup/assets/favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115469557-1"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-115469557-1');
        </script>
        <script charset="utf-8">
        {% include 'askup/dynamic.js' %}
        </script>
    </head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top one-edge-shadow" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand float" href="{% url 'index' %}">AskUp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a class="float" href="{% url 'askup:organizations' %}">Review Questions</a></li>
                    <li><a class="float" id="generate-question-link" href="{% url 'askup:question_create' %}">Generate Question</a></li>
                    <li><a class="float offset" href="{% url 'askup:feedback' %}?next={{ request.path }}">Feedback</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right"> 
                    {% if request.user.is_authenticated %}
                    <li>
                        {% with id=request.user.id user=request.user %}
                        <a class="float" href="{% url 'askup:user_profile' user.id %}">{{ user.email }}
                            <span class="badge">{{ user.username }}</span>
                        </a>
                        {% endwith %}
                    </li>
                    <li>
                        <a class="float" href="{% url 'askup:sign_out' %}" id="sign_out" rel="nofollow">Log out</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="float" href="{% url 'askup:sign_in' %}" id="sign_in" rel="nofollow">Log In</a>
                    </li>
                    {% endif %}
                </ul>            
            </div>

            <div class="alert alert-{{notification_class}} center" style="display: none;">
                {{ notification_text|safe }}<a href="#" class="close-alert grow"><i class="fa fa-times-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="spacer_nav"></div>

    {% block body %}
    {% endblock %}

    </body>
</html>
