{% extends 'askup/base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="center">
                    {{main_title}} 
             <!-- todo: delete button here? -->
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="center">
                    <span id="breadcrumbs" class="center">
                    </span>
                </h5>
            </div>
        </div>
        <div class="qset-list">
        {% for organization in object_list %}
            <div class="box qset">
                {% with organization_name=organization.name questions_count=organization.questions_count %}
                <a href="{% url 'askup:organization' organization.id %}" title="{{ organization_name }}">{{ organization_name }}</a>
                <span class="pull-right badge">{{ questions_count }} question{{ questions_count|pluralize }}</span>
                {% endwith %}
            </div>
        {% endfor %} 
        </div> <!-- .qset-list -->

        {% include "askup/qset_modals.html" %}
    </div>
{% endblock %}
