{% extends 'askup/base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="center">
                    {{main_title}} 
             <!-- todo: delete button here? -->
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="center">
                    <span id="breadcrumbs" class="center">
                    </span>
                </h5>
            </div>
        </div>
        <div>
            <!--<a class="btn btn-primary btn-sm" id="new-qset" data-toggle="modal" data-target="#modal-new-qset">
                New organization
            </a>-->
        </div>
        <div class="qset-list">
        {% for organization in object_list %}
            <div class="box qset">
                <a href="/org/{{organization.id}}/">{{organization.name}}</a>
                <span class="pull-right badge">{{organization.questions_count}} question{% if organization.questions_count != 1 %}s{% endif %}</span>
            </div>
        {% endfor %} 
        </div> <!-- .qset-list -->

        {% include "askup/qset_modals.html" %}
    </div>
{% endblock %}
