{% extends 'askup/base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="center">
                {{main_title}} 
                {% if is_admin %}
                    {% include 'askup/edit_qset_button.html' %}
                {% endif %}
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="center">
                    <span id="breadcrumbs" class="center">
                    </span>
                </h5>
            </div>
        </div>
        <div>
            <h5>Subjects within {{main_title}}:</h5>
        </div>
        {% if is_qset_creator %}
        <div class="row">
            <div class="col-xs-8">
                <a class="btn btn-primary btn-sm" id="new-qset" data-toggle="modal" data-target="#modal-new-qset">New subject</a>
            </div>
            <div id="organization-filter-container" class="col-xs-4">
                {% if has_questions %}
                <label for="organization-filter-group" class="organization-filter-label">
                    <select id="organization-filter-group" class="select btn-primary form-control quiz-filter">
                        <option value="" class="btn btn-primary active" selected="selected" title="Select a filter to quiz by...">Start quiz by...</option>
                        {% for key, qset_filter in qset_question_filters.items %}
                        <option value="{{ organization_quiz_base_url }}?filter={{ key }}&quiz_start=1&is_organization=1" class="btn btn-primary" title="{{ qset_filter.1 }}">{{ qset_filter.0 }}</option>
                        {% endfor %}
                    </select>
                </label>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="qset-list">
        {% for qset in object_list %}
            <div class="box qset">
                {% with qset_name=qset.name questions_count=qset.questions_count %}
                <a href="{% url 'askup:qset' qset.id %}" title="{{ qset_name }}">{{ qset_name }}</a>
                <span class="pull-right badge">{{ questions_count }} question{{ questions_count|pluralize }}</span>
                {% endwith %}
            </div>
        {% empty %}
            <div class="box valign no-questions row">
                <p>There are no subjects here.</p>
            </div>
        {% endfor %} 
        </div> <!-- .qset-list -->

        {% include "askup/qset_modals.html" %}
    </div>
{% endblock %}
