{% extends 'askup/base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="center">
                {{main_title}} 
                {% if is_admin or is_teacher %}
                <a class="btn shortcut-button-link" id="edit-qset" data-toggle="modal" data-target="#modal-edit-qset">
                        <span class="glyphicon glyphicon-edit shortcut-button-glyphicon"></span>
                </a>
                {% endif %}
             <!-- todo: delete button here? -->
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="center">
                    <span id="breadcrumbs" class="center">
                    </span>
                </h5>
            </div>
        </div>
        <div>
            <!--<a class="btn btn-primary btn-sm" id="new-qset" data-toggle="modal" data-target="#modal-new-qset">
                New subset
            </a>-->
        </div>
        <div>
            <a class="btn btn-primary btn-sm" id="new-qset" data-toggle="modal" data-target="#modal-new-qset">New subset</a>
        </div>
        <div class="qset-list">
        {% for qset in object_list %}
            <div class="box qset">
                <a href="/qset/{{qset.id}}/">{{qset.name}}</a>
                {% with questions_count=qset.questions_count %}
                <span class="pull-right badge">{{ questions_count }} question{{ questions_count|pluralize }}</span>
                {% endwith %}
            </div>
        {% endfor %} 
        </div> <!-- .qset-list -->

        {% include "askup/qset_modals.html" %}
    </div>
{% endblock %}
