{% extends 'askup/base.html' %}

{% block body %}
<div class="prettyform">
    <div class="container" id="signin">
        <div class="box maxwidth-box">
            {% if validlink %}
            <h2 class="fixed-title center">Change password</h2>
            <br/>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <div class="center">
                    <button class="btn btn-theme center" type="submit">Change password</button>
                </div>
            </form>
            {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
