<div class="show-small-screen">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="center">
                {{ main_title }}
                {% if is_qset_creator %}
                    {% include 'askup/edit_qset_button.html' %}
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row center">
        <div class="col-xs-12">
            <span id="generate-question-group">
                <a class="btn btn-primary" href="{% url 'askup:qset_question_create' qset_id=current_qset_id %}">Generate Question</a>
            </span>
        </div>
    </div>
    <div class="row center">
        <div class="col-xs-12">
            <label for="all-mine-other-group" class="all-mine-other-label">
                <select id="all-mine-other-group" class="select btn-primary form-control all-mine-other-filter">
                    {% for key, qset_filter in qset_question_filters.items %}
                    <option value="?filter={{ key }}" class="btn btn-primary{% if active_filter == key %} active" selected="selected{% endif %}" title="{{ qset_filter.1 }}">{{ qset_filter.0 }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
    {% if questions_list %}
    <div class="row center">
        <div class="col-xs-12" id="quizAll-smallscreen-buttonpadding">
            <a href="{% url 'askup:start_quiz_all' current_qset_id %}?filter={{ filter }}&quiz_start=1" class="btn btn-primary btn-large quiz-all">Quiz: {{ filter_label }}</a>
        </div>
    </div>
    {% endif %}
</div>
