<div class="show-large-screen">
    <div class="row">
        <div id="generate-question-container" class="col-xs-4">
            <span id="generate-question-group">
                <a class="btn btn-primary" href="{% url 'askup:qset_question_create' qset_id=current_qset_id %}">Generate Question</a>
            </span>
        </div>
        <div class="col-xs-4">
            <h3 class="center">
                {{ main_title }}
                {% if is_qset_creator %}
                    {% include 'askup/edit_qset_button.html' %}
                {% endif %}
            </h3>
        </div>
        <div id="all-mine-other-container" class="col-xs-4">
            <span id="all-mine-other-group" class="btn-group all-mine-other-filter">
                <span class="btn btn-primary {{ filter_all_active }}">
                    <a href="?filter=all">All</a>
                </span>
                <span class="btn btn-primary {{ filter_mine_active }}">
                    <a href="?filter=mine">Mine</a>
                </span>
                <span class="btn btn-primary {{ filter_other_active }}">
                    <a href="?filter=other">Other</a>
                </span>
            </span>
        </div>
    </div>
    {% include "askup/qset_breadcrumbs.html" %}
    <div class="row center">
        <div class="col-xs-12">
            <a href="{% url 'askup:start_quiz_all' current_qset_id %}" class="btn btn-primary btn-large quiz-all">Quiz All </a>
        </div>
    </div>
</div>
