<div>
    <h5>{{ current_qset_name }} question:</h5>
</div>
<span id="question_list">
    <div class="question_list">
        {% for question in questions_list %}
        {% with question_id=question.id question_text=question.text author_id=question.user.id author_name=question.user.username user_id=user.id %}
        <div class="box valign row">
            <div class="col-xs-12">
                <div class="row valign">
                    <div class="col-xs-12 question-content left-align">
                        <a href="{% url 'askup:question_answer' question_id %}">
                            {{ question_text }}
                        </a>
                    </div>
                </div>
                <div class="row valign">
                    <div class="col-xs-6">
                        <div class="net-votes valign"><p class="question-{{ question_id }}-net-votes">{{ question.vote_value }}</p><br></div>
                        <div class="question-voting-wrapper valign">
                            <div class="question-voting">
                                <div class="glyphicon glyphicon-triangle-top upvote-button" data-vote-url="{% url 'askup:question_upvote' question_id %}" data-question-id="{{ question_id }}"></div>
                                <div class="glyphicon glyphicon-triangle-bottom downvote-button" data-vote-url="{% url 'askup:question_downvote' question_id %}" data-question-id="{{ question_id }}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        {% include 'askup/question_author_buttons.html' %}
                    </div>
                    <div class="col-xs-4">
                        {% include 'askup/question_author_name.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% empty %}
        <div class="box valign no-questions hidden row">
            <p>There are no questions here. <a href="{%url 'askup:qset_question_create' current_qset_id %}" title="Create new question">Create one now!</a></p>
        </div>
        {% endfor %}
    </div>
<!-- .question-list -->
</span>
