{% extends 'askup/base.html' %}

{% block body %}
<div class="container-fluid" id="qset-show-container" data-qset-id="{{ current_qset_id }}">
    {% include "askup/qset_top_controls_large.html" %}
    {% include "askup/qset_top_controls_small.html" %}
    <div class="row">
        <div class="col-sm-12 show-large-question">
            {% include "askup/qset_questions_list_question_large.html" %}
        </div>
        <div class="col-sm-12 show-small-question">
        {% include "askup/qset_questions_list_question_small.html" %}
        </div>
    </div>
    {% include "askup/qset_modals.html" %}
</div>
{% endblock %}
