<span id="question_list">
    <div class="question_list">
        {% for question in questions_list %}
        {% with question_id=question.id question_text=question.text author_id=question.user.id %}
        <div class="box valign my-question row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 question-content left-align">
                        <a href="/questions/{{ question_id }}">
                            {{ question_text }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="net-votes"><p id="question-{{ question_id }}-net-votes">1</p><br></div>
                        <div class="question-voting">
                            <div class="glyphicon glyphicon-triangle-top upvote-button" data-vote="upvote" data-vote-qid="{{ question_id }}"></div>
                            <div class="glyphicon glyphicon-triangle-bottom downvote-button" data-vote="downvote" data-vote-qid="{{ question_id }}"></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="question-actions">
                            <span class="actions pull-right">
                                <a class="btn shortcut-button-link" href="/questions/{{ question_id }}/edit">
                                    <span class="glyphicon glyphicon-edit shortcut-button-glyphicon"></span>
                                </a>
                                <a class="btn shortcut-button-link" data-method="delete" href="/questions/{{ question_id }}" rel="nofollow">
                                    <span class="glyphicon glyphicon-trash shortcut-button-glyphicon"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="/users/{{ author_id }}">Author name</a>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% empty %}
        <div class="box valign no-questions hidden row">
            <p></p>
        </div>
        {% endfor %}
    </div>
<!-- .question-list -->
</span>
