<div class="show-small-screen">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="center">
                {{ main_title }}
                <a class="btn shortcut-button-link" id="edit-qset" data-toggle="modal" data-target="#modal-edit-qset">
                    <span class="glyphicon glyphicon-edit shortcut-button-glyphicon"></span>
                </a>
            </h3>
        </div>
    </div>
    <div class="row center">
        <div class="col-xs-12">
            <h5 class="center">
                <span id="breadcrumbs" class="center">
                    <a class="btn-breadcrumb" href="/qsets/17">Lorem ipsum 1</a> &gt;
                    <a class="btn-breadcrumb" href="/qsets/41">Lorem ipsum 2</a> &gt;
                    {{ main_title }}
                </span>
            </h5>
        </div>
    </div>
    <div class="row center">
        <div class="col-xs-12">
            <span id="generate-question-group">
                <a class="btn btn-primary" href="{% url 'askup:qset_question_create' qset_id=current_qset_id %}">Generate Question</a>
            </span>
        </div>
    </div>
    <div class="row center">
        <div class="col-xs-12">
            <span id="all-mine-other-group" class="btn-group all-mine-other-filter" data-toggle="buttons">
                <label class="btn btn-primary filter-choice all-radioactive">
                    <input type="radio" name="all" checked=""> All
                </label>
                <label class="btn btn-primary filter-choice ">
                    <input type="radio" name="mine"> Mine
                </label>
                <label class="btn btn-primary filter-choice ">
                    <input type="radio" name="other"> Other
                </label>
            </span>

        </div>
    </div>
    <div class="row center">
        <div class="col-xs-12" id="quizAll-smallscreen-buttonpadding">
            <a data-toggle="modal" href="#" data-target="#question_display_Modal" class="btn btn-primary btn-large quiz-all">
                Quiz All
            </a>
        </div>
    </div>
</div>
