<div class="modal fade" id="question_display_Modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Alert box appears after the user answers whether or not they got the question right  -->
            <div class="modal-header">
                <!-- Close button -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <!-- Displays the question at the top of the modal. Javascript finds the "modal-title" class and populates it with the question contents. -->
                <h4 class="modal-title" id="question-text">Question Example</h4>
            </div>
            <div class="modal-body center">
            {% include "askup/question_answer_modal.html" %}
            </div>
        </div>
    </div>
</div>
