{% extends 'askup/base.html' %}

{% block body %}
<div class="container-fluid">
	<div class="prettyform">
		<div class="box center">
			<h2 class="title-no-margin">{{ question.text }}</h2>
			<br>
			<br>
			<form accept-charset="UTF-8" action="{% url 'askup:question_answer' question.id %}" class="new_answer center" data-remote="true" id="new_answer" method="post">
				<div style="display:none">
					{{ csrf_token }}
					<input type="hidden" name="question_id" value="{{ question.id }}">
				</div>
				<textarea autofocus="autofocus" class="form-control answer-text" id="single-answer-text" name="answer[text]" placeholder="Type your answer here..."></textarea>
				<div class="btn-div">
					<input class="btn btn-theme btn-lg submit-answer" id="single-submit-answer" type="submit" value="Submit answer">
				</div>
			</form>
		</div>   
	</div>
	<div class="prettyform answers">
		<div class="box center">
			<h3>Answer:</h3>
			<div class="net-votes">
				<p id="question-{{ question.id }}-net-votes">1</p><br>
			</div>
			<div class="question-voting">
				<div class="glyphicon glyphicon-triangle-top upvote-button" data-vote="upvote" data-vote-qid="65"></div>
				<div class="glyphicon glyphicon-triangle-bottom downvote-button" data-vote="downvote" data-vote-qid="65"></div>
			</div>
			<div class="correct-container">
				<h4 class="correct"></h4>
			</div>
		</div>  
	</div>
</div>
{% endblock %}
