{% if author_id == user_id or not is_student %}
<div class="question-actions">
    <span class="actions pull-right">
        <a class="btn shortcut-button-link" href="{% url 'askup:question_edit' question_id %}">
            <span class="glyphicon glyphicon-edit shortcut-button-glyphicon"></span>
        </a>
        <a class="btn shortcut-button-link" href="{% url 'askup:question_delete' question_id %}" rel="nofollow">
            <span class="glyphicon glyphicon-trash shortcut-button-glyphicon"></span>
        </a>
    </span>
</div>
{% endif %}
