{% extends 'askup/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container center">
    <h3 class="center">Sign Up</h3>
    <div class="prettyform">
        <div class="box maxwidth-box">
            <form accept-charset="UTF-8" action="" class="center" id="new_user" method="post">
                <div style="display:none">
                {% csrf_token %}
                </div>
                {{ form|crispy }}
                <div class="center">
                    <input class="btn btn-theme" type="submit" value="Sign up">
                </div>
            </form>
        </div>
    </div>
    <br/>
</div>
{% endblock %}
