<div class="own-questions-list" data-profile-user-id="{{ profile_user.id }}">
    {% for subject_id, subject_name, questions_count in own_subjects %}
        {% include 'askup/user_profile_own_subjects_row.html' %}
    {% empty %}
    <div class="box valign row no-questions-placeholder rounded-5">
        {% if is_owner %}
        <span class="rank-no-questions-row">You haven't created any questions yet.</span>
        {% else %}
        <span class="rank-no-questions-row">This user has no created questions.</span>
        {% endif %}
    </div>
    {% endfor %}
</div>
