{% if place == 0 %}
<div class="center">
    <h4>&bull;&bull;&bull;</h4>
</div>
{% elif place == -1 %}
<div class="row row-box white-box rounded-5 margin-top-10 {% if viewer_user_id == row_user_id %}current-user{% endif %} center">
    {% if viewer_user_id == row_user_id %}
    <span class="rank-no-questions-row">You have no any question created before. Create one to obtain a rank list place.</span>
    {% else %}
    <span class="rank-no-questions-row">User have no any question created before.</span>
    {% endif %}
</div>
{% else %}
<div class="row row-box white-box rounded-5 margin-top-10 {% if viewer_user_id == row_user_id %}current-user{% endif %}">
    <div class="col-sm-1 row-box blue-box rounded-5">{{ place }} place</div>
    <div class="col-sm-10 line-height-31 center">
        <div class="col-sm-6"><a href="{% url 'askup:user_profile_rank_list' row_user_id %}">{{ name }}</a></div>

    
        <div class="col-sm-2 grey-box rounded-5 margin-left-10">{{ questions }} question{{ questions|pluralize }}</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 grey-box rounded-5 margin-left-10">{{ thumbs_up }} thumbs up</div>
    </div>
</div>
{% endif %}
